 <template>
   <b-form @submit="onSubmit" action="/videos">
      <br>
      <b-form-input
        id="input-1"
        v-model="form.username"
        required
        placeholder="Enter username"
        style="width:400px"
      ></b-form-input>
      <b-form-invalid-feedback :state="validation" class="mt-10" style="font-size:16px">
        {{errorMessage}}
      </b-form-invalid-feedback>
    </b-form-group>
    <b-button style="margin-top:40px" type="submit" class="algaecal--button--green" :disabled='isDisabled'>Submit</b-button>
  </b-form>
</template>

<script>
  export default {
    async fetch() {
      this.users = await fetch(
        'http://localhost:8080/users'
      ).then(res => res.json())
    },
    data() {
      return {
        form: {
          username: ''
        },
        users: [],
        errorMessage: null
      };
    },
    methods: {
      onSubmit(e){
        let match = false

        for (let a=0; a < this.users.data.length; a++){ 
          let user = this.users.data[a]

          if(user.username == this.form.username)
            match = true   
        }
        
        if(match != true) {
            e.preventDefault();
            this.errorMessage = "Sorry, that username is not found"
        }
      },
    },
    computed: {
        isDisabled: function(){
          let disabled = true

          if(this.form.username.length > 2)
            disabled = false

          return disabled
        },
        validation() {
          return false
        }
      }
  }
</script>

<style>
  .algaecal--button--green {
    color: #fff;
    background-color: #047D61;
  }

  .algaecal--button--green:hover {
    color: #fff;
    background-color: #036951;
  }
</style>