<template>
  <div>
    <div style="display:flex; flex-direction:row; justify-content:center; margin-top:100px">
      <div style="width:800px">
         <div style="position:relative">
          <div class="video-wrapper">
            <div class="video-overlay">
              <a class="play-btn">
                <svg version="1.1" v-on:click="playButtonClicked" viewBox="0 0 68 48" width="100%" style="cursor:pointer; position:absolute; left:0px, top:0px; z-index: 2; width:20%; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%)">
                  <path class="ac-wistia-play-button-bg" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z" fill="#267D60" fill-opacity="0.8"></path>
                  <path d="M 45,24 27,14 27,34" fill="#fff"></path>
                </svg>
              </a>
            </div>
            <script src="//fast.wistia.com/embed/medias/j38ihh83m5.jsonp" async></script>
            <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
            <div id="videoId" class="wistia_embed wistia_async_htxa4ghq71 seo=false videoFoam=true popover=true" style="height:100%;width:100%">&nbsp;</div></div></div>
          </div>
        </div>
        <!--img style="width:100%" src="~/assets/video_player.png" /-->
        <div v-if="!video">Loading Please wait...</div>
        <div v-else>
          <div class="title">
            {{video.data.title}}
          </div>
          <div class="subtitle">
            {{video.data.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    async fetch() {
      this.video = await fetch(
        `http://localhost:8080/videos/${this.$route.params.id}`
      ).then(res => res.json())
    },
    data() {
      return {
        video: null,
      };
    },
    methods: {
      onSubmit(e){
        e.preventDefault();
      },
      playButtonClicked() {
        let wistiaEmbed = document.getElementById("videoId").wistiaApi
        wistiaEmbed.play()
      }
    },
  }
</script>

<style>
  .title {
    font-family: 'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #35495e;
    letter-spacing: 1px;
    margin-top: 25px
  }

  .subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
    margin-bottom:50px;
  }
</style>