<template>
  <div>
    <div v-if="!videos">Loading Please wait...</div>
    <div v-else>
      <div class="row">
        <div class="col-md-4" v-for="(video, index) in videos.data">
          <div>
            <NuxtLink :to="`/videos/${video.videoId}`">
              <img style="width:100%" src="~/assets/video_player.png" />
              <div class="title">
                {{video.title}}
              </div>
              <div class="subtitle">
                {{video.description}}
              </div>
            </NuxtLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    async fetch() {
      this.videos = await fetch(
        'http://localhost:8080/videos'
      ).then(res => res.json())
    },
    data() {
      return {
        videos: null,
      };
    },
  }
</script>

<style>
  .title {
    font-family: 'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: #35495e;
    letter-spacing: 1px;
    margin-top: 10px
  }

  .subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
    margin-bottom:50px;
  }
</style>