<template>
  <div class="container-fluid">
    <div style="text-align:center; margin: 20px 0px 50px 0px">
      <h1>Welcome to Our Video Library</h1>
    </div>
    <VideoSummary />
  </div>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          email: ''
        },
      };
    },
    methods: {
      onSubmit(){
        console.log('A form was submitted');
      },
    }
  }
</script>

<style>
  .container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .links {
    padding-top: 15px;
  }
</style>
